<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">
    <p>
      <strong>Number of products in the database: </strong><%= @products_count %>
      <div><%= link_to "Products", admin_products_path, class: 'btn btn-info' %></div>
    <p>
    <p>
      <strong>Number of categories in the database: </strong><%= @categories_count %>
    <p>
  </div>

</section>